.dropdown-menu a{
    color: #525f7f;
}
.btn-neutral.disabled, .btn-neutral:disabled{
    border-color: #b2b2b7;
    background-color: #b2b2b7;
}
.div-header-button button, .div-header-button a{
	height: 35px;
	width: 35px;
}
.div-header-button a{
    padding-top: 7px;
}
.div-header-search input{
	height: 36px;
}
.focused.div-header-search input{
	border-color: white;
}
.div-header-search{
	margin-right: 12px;
}
.head-padding-setup{
    padding-top: 70px;
    padding-bottom: 20px;
}
.filter{
    padding-top: 0px;
    padding-bottom: 0px;
}
.filter form{
    margin-top: 13px;
}
@media only screen and (max-width: 768px) {
    .head-padding-setup {
        padding-top: 20px;
    }
}
a{
	cursor: pointer;
}
td {
    vertical-align: middle !important;
}
.bold{
	font-weight: bold;
}
.loading-gif-image{
	height: 70px;
    border-radius: 70px;
}
.div-pagination-bottom .input-group{
	height:36px; 
    max-width: 250px; 
    min-width: 250px;
}
.div-pagination-bottom button{
    padding-top: 7px;
    padding-bottom: 7px;
}
#FrmGotoPage input{
    padding-top: 7px;
    padding-bottom: 7px;
    height: 36px;
}
.div-pagination-bottom #FrmGotoPage{
	padding-left: 6px;
    padding-right: 6px;
}
.div-pagination-bottom .info-paging{
	margin-top: 10px;
}
.select2{
    width: 100% !important;
}
.div-pagination-bottom .select2{
	width: 100%; 
    max-width: 100px !important;
}
.div-pagination-bottom .select2-selection.select2-selection--single{
    height: 36px;
}
.div-pagination-bottom .select2.select2-container.select2-container--default{
    min-width: 80px;
}
.div-pagination-bottom .select2-selection__rendered{
    padding-left: 7px !important;
    padding-top: 3px;
    color: #8898aa !important;
}
.div-pagination-bottom .select2-selection__arrow{
    margin-top: 3px;
    margin-right: 4px;
}
.div-pagination-bottom .select2{
    margin-top: 7px;
}
.div-pagination-bottom .info-paging{
    font-size: 15px;
}
.select2-selection.select2-selection--single{
    border-radius: .25rem;
    height: 46px;
    border: 1px solid #dee2e6;
}
.select2-selection__rendered{
    padding-left: 12px !important;
    padding-top: 8px;
    color: #8898aa !important;
}
.select2-selection__arrow{
    margin-top: 8px;
    margin-right: 12px;
}
.card-footer.div-pagination-bottom{
    padding-bottom: 0px;
}
label.error{
    font-size: 12px;
    color: #f75676;
}